@model IEnumerable<AutoMig.Entity.Category>

<div class="container">
    <div class="flex-wrap-categories">
        @foreach (var item in Model)
        {
            <a class="link-category-item" href="Category/Details/@item.Id">
                <h2>@item.Name</h2>

                <img class="category-image"
                     src="data:image/png;base64, @Convert.ToBase64String(item.Image)"
                     alt="category image: @item.Name" />
            </a>
        }
    </div>
</div>