<div class="top-line">
    <div class="container">
        <div class="top-sing-list">
            <a class="top-sing-link" href="#" alt="SingUp">Регистрация</a>
            <a class="top-sing-link" href="#" alt="SingIn">Вход</a>
        </div>
    </div>
</div>

<header>
    <div class="container">
        <div class="header-top">
            <a href="Home">
                <img  class="header-top-logo" src="~/Img/logo.png" alt="logo" />
            </a>

            <nav class="header-navbar">
                <a class="header-top-navbar-link" href="Home">Главная</a>
                <a class="header-top-navbar-link" href="Category">Каталог</a>
                <a class="header-top-navbar-link" href="AutoPart">Товары</a>
                <a class="header-top-navbar-link" href="Contacts">Контакты</a>
            </nav>

            <div class="header-top-right-address">
                <div class="phone">
                    <a href="tel:88005553535">+7 (800) 555-35-35</a>
                    <address>г. Ясный, ул. Свердлова, д. 5Б</address>
                </div>
            </div>
        </div>
    </div>

    <div class="header-meta-bottom">
        <div class="container">
            <div class="header-meta-container">
                <form class="form-search">
                    <input type="text"
                           placeholder="Search"
                           aria-label="Search">

                    <button class="btn" type="submit">Search</button>
                </form>

                <div class="cart">
                    <a href="#">В корзине</a>
                    <span>(0.00 р.)</span>
                </div>
            </div>
        </div>
    </div>
</header>